/* Example CSS file */
@import url(https://fonts.cdnfonts.com/css/w95fa);

@font-face {
    src: url('../FONTS/NeueBit-Regular.ttf');
    font-family: neue;
}

@font-face {
    src: url('../FONTS/PPMondwest-Regular.otf');
    font-family: mondwest;
}

:root {
    --activeR: 0deg;
    --sizeWall: 300vw;
    --halfSizeWall: calc(var(--sizeWall) / 2);
    --animation-duration: 400ms;
    --curve: linear;
    --scroll-depth: 0vw;
    --base-translate-x: calc(var(--halfSizeWall) * 0.5);
    --base-translate-z: calc(var(--scroll-depth) + var(--halfSizeWall) * -1);
    --base-rotate-y: rotateY(-90.001deg);
    --left-translate-z: calc(var(--scroll-depth) + var(--sizeWall) * -1);
    --left-rotate-y: rotateY(90.001deg);
    --left-translate-x: calc(var(--halfSizeWall) * -0.5);
    --left-rotate-deg: 90.001deg;
    --perspective: 100vw;
    --g_margin: 40px;
    --g_marginHalf: calc(40px / 4);
    --font-size: .9rem;
    --word: "tesdddt";
    --grey: #ccc;
    --dark_grey: #838383;
    --active_color: rgb(153, 255, 0);
    --scale: 1;
    --border-thickness: 1px;
    --color-black: rgb(0, 0, 0);
    --interlignage: calc(var(--font-size) * 1.2);
}

html {
    overflow: hidden;
}

body {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 112.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* width: 100vw;
    height: 100dvh; 
    overflow: scroll; */
    margin: 0;
    cursor: crosshair;
    /* background: linear-gradient(0deg, #efefef 0%, white 41%, white 53%, #bebebe 100%); */
}



p {
    font-size: var(--font-size);
    line-height: var(--interlignage);
    margin: calc(var(--font-size) / 2) 0;
}

.projects.focus+span#back {
    display: block;
}
span#back.right{
    
     left: 50dvw;
}
span#back {
    display: none;
    left: 0dvw;
    position: fixed;
    top: 0px;
    width: 50dvw;
    height: 100dvh;
    cursor: pointer;
    border-radius: 0;
    z-index: 1000000000;
}

/* span#back:hover {
    opacity: 1;
    cursor: pointer;
} */

.home {

    z-index: 100000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.canvas-container {
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(0deg, #efefef 0%, white 41%, white 53%, #bebebe 100%);
}

.canvas-container.scrollMode {
    /* position: sticky; */
}

.scene {
    top: 0;
    position: absolute;
    width: calc(100vw - calc(var(--g_margin) / 2));
    display: flex;
    height: 100dvh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    padding: 0px calc(var(--g_margin) / 4);
}

.scene>.ptitle {
    color: black;
    margin-bottom: 6px;
    background: #f0f0f0;
    text-decoration: none;
    border-radius: 20px;
    padding: 2px 8px;
    opacity: 0.2;
}

.scene>.ptitle.active{
    opacity: 0.8;
}

/* .scene>a {
    pointer-events: all;
    visibility: visible;
    color: black;
    margin-bottom: 6px;
    background: #f0f0f0;
    text-decoration: none;
    border-radius: 30px;
    padding: 2px 8px;
    opacity: 0.7;
} */

.scene>a.focus {
    display: block;
}

.projects>.project.loading {
    /* visibility: hidden; */
    /* display: none; */
}

.projects>.project {
    /* background: rgb(255, 255, 255); */
    flex: 1 0 100vh;
}

.projects {

    display: flex;
    overflow: scroll;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* overflow-y: hidden; */
    height: 100dvh;
    flex-direction: column;
    flex-wrap: nowrap;
    overscroll-behavior: auto;
    /* grid-gap: 10px; */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.projects.focus {
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

.project,
.canvas-container {
    align-items: start;
}

.project {
    height: 100vh;
    overflow-y: scroll;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: center;
    display: none;

    flex-direction: row;
    position: relative;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* pointer-events: none; */
    /* overflow-y: auto;    */
}

.project.left {
    justify-content: flex-end;
}

.project .flat-content {
    flex: 0.5;
}

.project.scrollMode+.project {
    /* overflow-y: hidden; */

}

.project.scrollMode {
    /* pointer-events: all; */
    margin-top: -100vh;
    display: flex;
    /* position: sticky; */
    top: 0;
}

.project.scrollMode .first-page {
    margin-top: 100vh;
}

.project.left .first-page {
    grid-column: 1;
}

.images_preview .image_content {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images_preview {
    flex: 0.5;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
    position: fixed;

}
.right.project .images_preview {
    right: 0;
    left: 50%;
}

.int_preview {
    opacity: 0.3;
}
.int_preview.active{
    opacity: 1;
}
.int_preview:hover {
    opacity: 1;
    cursor: pointer;
}

.first-page {
    height: calc(100dvh - var(--g_margin) / 2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    pointer-events: all;
    /* background: rgb(255 255 255 / 85%); */
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(16px);
    grid-column: 2;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: calc(var(--g_margin) / 4);
    padding: calc(var(--g_margin) / 4) calc(var(--g_margin) / 2);
}

.p_header {
    grid-column: span 3 / span 3;
    padding-top: calc(var(--g_margin) / 2);
}

.first-page .specs div {
    height: var(--font-size);
    margin-bottom: calc(var(--interlignage)/4);
}

.first-page .specs.p_val div {
    text-transform: uppercase;
}

.p_title {
    margin-bottom: calc(var(--g_margin) / 2);
}

.p_images {
    grid-column: span 3;
    grid-row-start: 5;
    display: grid;
    grid-gap: calc(var(--g_margin) / 4);
    grid-template-columns: repeat(6, 1fr);
    margin: 0 calc(var(--g_margin) / -4);

    /* background: blue; */
    align-items: end;
}

.p_images .image_content {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.v_player {
    white-space: nowrap;
    font-size: var(--font-size);
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0 calc(var(--g_margin) / 4);
    width: calc(100% - var(--g_margin) / 2);
}


.p_video {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(16px);
    padding: calc(var(--g_margin) / 4) 0;
    grid-gap: calc(var(--interlignage) / 2);
}

/* .p_video:fullscreen .closeFullscreen {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.p_video .closeFullscreen {
  display: none;
} */
.p_video.expanded {
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: flex-end;
}

.p_video.expanded video {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}



.controls {
    display: flex;
    /* grid-gap: calc(var(--g_margin)/4); */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.controls>div {
    display: inline-flex;
}

.controls button {
    background: none;
    border: none;
    width: calc(var(--g_margin) / 1.75);
    cursor: pointer;
    font-size: var(--font-size);
    text-transform: lowercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

/* Styles par défaut : pas de parenthèses */
button[data-state="active"]::before {
    content: "[";
    color: #7a7a7a;
    padding-bottom: 1.1px;
    /* margin-right: -2px; */
}

button[data-state="active"]::after {
    content: "]";
    color: #7a7a7a;
    padding-bottom: 1.1px;
    /* margin-left: -2px; */
}



/* Cache le contenu HTML, utilise uniquement ::before */
.playToggle,
.expandToggle,
.closeExpand {
    color: black;
}

/* .playToggle::before,
.expandToggle::before,
.closeExpand::before {
    display: inline;
} */

/* .closeExpand {
    cursor: pointer;
} */

.dots {
    flex-grow: 1;
    border-bottom: 1px dotted var(--grey);
    margin: 0 0.45rem;
    position: relative;
}

.specs div {
    font-size: var(--font-size);
    text-transform: lowercase;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

.specs div::before {
    content: ">>";
    color: #4d4d4d;
    left: 0;
    pointer-events: none;
}